/* reset */
* {margin:0; padding:0; list-style:none; vertical-align:baseline;}

/* Background images */
body {
	background:#EFEFEF url(bg_Layout_oficial2.png) repeat-x top center; 
	font-family: Source Sans Pro;
}

#header {background: transparent url(header.png?) top center no-repeat;}

/* Colors and fonts */
body {color: #000000; font-family: Source Sans Pro; font-size: 62.5%;}
a:link, a:visited, #content a:link, dl.portlet a:link {color:#205C90;}
a:hover {color:#000 !Important;}
h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif;}
h1 {color: #205C90;}
h2, h3, h4, h5, h6 {color: #636466;}
#wrapper { width:800px; margin: 0 auto; font-size: 1.1em;}
#main {background:#fcf9f9 url(bg1.png) repeat-x top center; font-size: 1.3em; padding: 1em 0;}

#nav {background: #e00000;	text-align: left; color: #ffffff;}

#nav a {color: #ffffff;border-right:2px solid #fff;}

#nav a:hover, #nav li.selected a {background: #e00000;}

#footer {background: #1c1c1e; color: #fff;}

#footer a:link, 
#footer a:hover, 
#footer a:visited {
color:#fff !Important;
text-decoration:underline !Important;
}

/****************** Basic Stuff ***********************/

#content {font-size: 90%;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}

/*header*/
#header {background-size:100% auto;	position:relative;}
#logo {padding: 2.4% 1% 2.1%;width: 225px;margin:0 auto;}
#logo img {max-width:100%;}
#logo a {display:block; width:218px;}


/*Personal*/

#portal-personaltools {
    font-size: 11px;
    top:-25px;
    background:#3160ac;
    -moz-border-radius: 1em;
    border-radius: 1em; 
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

#portal-personaltools dd {background:#3160ac;}

#portal-personaltools a {color:#fff;}

/*Socials*/
#social-links {
    position: absolute;
    right: 5px;
    top: 155px;
}

#social-links a {
    background: transparent url("socials-icons.png?1") no-repeat -45px 0;
    display: block;
    float: left;
    height: 26px;
    margin: 0 20px 5px 0;
    width: 26px;
}

#social-links a#twitter {background:transparent url("socials-icons.png?1") no-repeat 0 0;}
#social-links a#rsslink {background: transparent url("socials-icons.png?1") no-repeat -131px 0;}
#social-links a#email {background: transparent url("socials-icons.png?1") no-repeat -88px 0;}


/*Links Header*/

#linksheader {
    background:#0b419b;
    padding:5px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    width:100px;
   -moz-border-radius: 7px;
    border-radius: 7px; 
    font-weight:bold;
    color:#FFF;
}

#linksheader a {
    background: #FFFFFF;
    color: #000000;
   -moz-border-radius: 20px;
    border-radius: 20px; 
    display: block;
    margin-top: 4px;
    padding: 0 5px;
    width:89px;
}

h1#slogan {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-align: center;}

#updates {
    background:#8aa3ce;
    color:#fff;
    font-weight:bold;
    padding:3px 5px;
    font-size:13px;
    margin-right:15px;
    margin-left:15px;
}

#updates span {
    border-right: 2px solid #B3C3DF;
    font-size: 16px;
    padding: 3px 7px 3px 3px;
}


/* navigation */
#nav {padding: 5px;	font-size: 1.3em;}
#nav ul {padding-top: 0;}
#nav li {display: inline;}
#nav a {padding: 0 20px; text-decoration: none;font-weight:bold;}
#searchbt, #nav #seletor {display:none;}

/*footer*/
#footer {clear: left; padding: 0.5em 2em;}
#footer img {border:0 !Important;}
#footer #portal-siteactions li {border-right:1px solid #fff;padding-right:5px;}
#footer p {text-align:right;}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}

 /*Colunas*/

div.width-3\3a 4 { width: 73%; } /* Conteúdo com 1 coluna */
div.width-1\3a 2 { width: 50%; } /* Conteúdo com 2 colunas */
div.width-1\3a 4 { width: 23%; } /* Colunas 1 e 2 */

div.position-1\3a 4 { margin-left: -75%; } /* Espaçamento da Coluna 1 */
div.position-3\3a 4 { margin-left: -24%; } /* Espaçamento da Coluna 2 */


/* portlets direita */
.portletHeader {
    background-color: #D0D0D0 !important;
    font-weight: normal !important;
    padding: 0.2em 1em !important;
    font-family: Source Sans Pro;
    font-size: 17px;
}

.portlet {
    background-color: #E0E1E1;
    margin-bottom: 0!important;
}

.portlet a {
    border: none!important;
}

.ploneCalendar .weekdays th {
    background-color: #D0D0D0!important;
	border-bottom: 1px solid #A8A3A8;
 
}

.portlet:first-child{
	border-top: 1px solid #bfbebf;
}

.portletItem:last-child {
    padding: 0!important;
	border-bottom: 1px solid #EEEFEE;
}
.portletHeader:first-child{
	border-bottom: 1px solid #A8A3A8
}

.managePortletsLink {
    margin-top: 1%!important;
}

.ploneCalendar .todayevent {
    background-color:#c6c6c5 !important;
}

#content h1 {
    color: #E80000;
}

#footer-info {
    color: #cecece;
}

#footer a:link, #footer a:hover, #footer a:visited{
	font-weight: bold;
}

#logo {
    padding-bottom: 5px!important;
}

